::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}
::-webkit-scrollbar-thumb:hover {
  background: #828282;
}
::-webkit-scrollbar-track {
  background: #cccccc;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(214, 191, 191);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listWrap {
  height: calc(100vh - 300px);
  min-height: 250px;
  overflow: auto;
}

button {
  margin-right: 5px;
}
